<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 
  <form action="/tags/<%=imageTag.UserId%>" method="POST">

    <img src="<%=imageTag.path%>" alt=""><br>
    <%tags.forEach(el => {%>
      
      <input type="checkbox" name="tagId" id=""  value="<%=el.id%>" ><%=el.name%>
      <% }) %>
      <br>
      <button>submit</button>
    </form>
  </body>
</html>