<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 
  <form action="" method="POST">

    <img src="public/upload/1553773886641.png" alt=""><br>
    <%tags.forEach(el => {%>
      
      <input type="checkbox" name="<%el.id%>" id=""><%=el.name%>
      <% }) %>
      <br>
      <button>submit</button>
    </form>
  </body>
</html>